/** #8075FF  #6320EE **/
body{
    background-color: #F8F0FB;
}

h1{
    color: #8075FF;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 4rem;
    padding: 30px;
}

div{
}