/** #8075FF  #6320EE **/
body{
    background-color: #F8F0FB;
    text-align: center;
    padding-top: 150px;
}

h1{
    color: #8075FF;
    font-family: 'Lobster', cursive;
    letter-spacing: 2.5px;
    font-size: 4rem;
    padding: 30px;
}

button{
    margin: 50px;
    border-radius: 2px;
    width: 250px;
    cursor: pointer;
    background-color:#8075FF ;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-size:16px ;
    transition-duration: 0.4s;

}

button:hover{
    background-color: transparent;
    border: 2px solid #8075FF;
    color: #8075FF;
}